doctype html
head
    title TS Quiz
    meta(charset='UTF-8')
    style
        include main.css

.topnav
    a(href='./quizzes') « Quizzes

div(style='text-align:center')
    h1(style='font-size: 80px') Results
    button#save_score_button.button.blue(onclick='save_score()')  Save Score
    button#save_detailed_score_button.button.blue(onclick='save_detailed_score()')  Save Detailed Score
    button.button.blue(onclick="location.href = 'index.html'")  Start Again
    script(src='assets/js/results.js')